<%- include('includes/head') %>

    <div style="display: flex; flex-direction: row; align-items: flex-start; width: 100%; margin: 20px;">
        <button onclick="window.location.href='/users?page=1'"
            style="color: white; width: 10%; cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content: center ;gap: 5px; background-color: #2563eb; padding: 2px; border-radius: 10px;">
            <ion-icon style="font-size: large;" name="arrow-back-circle"></ion-icon>
            <div>Voltar</div>
        </button><br>
    </div>

    <h1 style="margin: 20px;" class="text-center text-3xl font-semibold">
        <%= data.title %>
    </h1>

    <div
        style="padding: 10px;display: flex; flex-direction: column; align-items: center; justify-content: center; width: 60%; margin: auto;">
        <form action="/users/updateUser/<%= data.user[0].id %>" method="post"
            style="display: flex; gap:3px; flex-direction: column;">

            <label class="font-semibold" for="name">Nome: </label><br>
            <input type="text" name="name" value="<%= data.user[0].name %>" required><br>

            <label class="font-semibold" for="cpf">CPF: </label><br>
            <input style="background-color: #d1d5db; color: #F3F4F5;" type="text" name="cpf"
                value="<%= data.user[0].cpf %>" pattern="[0-9]{11}" maxlength="11" disabled><br>

            <label class="font-semibold" for="role">Tipo de usuário:</label><br>
            <input style="background-color: #d1d5db; color: #F3F4F5;" type="text" name="role"
                value="<%= data.user[0].role %>" disabled>

            <label class="font-semibold" for="phone">Telefone Principal</label><br>
            <input type="tel" name="phone" value="<%= data.user[0].phone %>" pattern="[0-9]{11}" maxlength="11"
                required><br>


            <label class="font-semibold">Telefones Secundários</label><br>
            <% for (let i=0; i < data.phones.length; i++) {%>
                <div id="phone<%= data.phones[i].id %>" class="positionLabel">
                    <label for="phone">Telefone <%= i+1 %></label><br>
                    <div style="display: inline-flex; flex-direction: row;">
                        <input type="tel" name="phoneUpdate" value="<%= data.phones[i].phone %>" required><br>
                        <ion-icon onclick="removePhone('<%= data.phones[i].id %>')"
                            style="color:#FF3F3A; cursor: pointer; font-size: medium; margin-left: 5px;"
                            name="trash"></ion-icon>
                    </div>
                    <input type="text" name="idPhoneUpdate" value="<%= data.phones[i].id %>" required
                        style="display: none;">
                </div>
                <div id="deletePhone<%= data.phones[i].id %>"></div>

                <% } %>
                    <div id="secondaryPhones" style="display: flex; flex-direction: column; gap:5px;"></div>
                    <br>
                    <div onclick="createSecondaryPhones()"
                        style="color: white; width: 60%; cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content: center ;gap: 5px; background-color:#2563eb; padding: 2px; border-radius: 10px; margin-top: 5px;">
                        <ion-icon style="font-size: large;" name="add"></ion-icon>
                        <div>Adicionar</div>
                    </div><br>

                    <label class="font-semibold" for="email">Email Principal</label><br>
                    <input type="email" name="email" value="<%= data.user[0].email %>" required><br>
                    <label class="font-semibold">Emails Secundários</label><br>
                    <% for (let i=0; i < data.emails.length; i++) {%>
                        <div id="email<%= data.emails[i].id %>" class="positionLabel">
                            <label for="email">Email <%= i+1 %></label><br>
                            <div style="display: inline-flex; flex-direction: row;">
                                <input type="email" name="emailUpdate" value="<%= data.emails[i].email %>" required><br>
                                <ion-icon onclick="removeEmail('<%= data.emails[i].id %>')"
                                    style="color:#FF3F3A; cursor: pointer; font-size: medium; margin-left: 5px;"
                                    name="trash"></ion-icon>
                            </div>
                            <input type="text" name="idEmailUpdate" value="<%= data.emails[i].id %>" required
                                style="display: none;">
                        </div>
                        <div id="deleteEmail<%= data.emails[i].id %>"></div>
                        <% } %>
                            <div id="secondaryEmails" style="display: flex; flex-direction: column; gap:5px;"></div>
                            <br>
                            <div onclick="createSecondaryEmails()"
                                style="color: white; width: 60%; cursor: pointer; display: flex; flex-direction: row; align-items: center; justify-content: center ;gap: 5px; background-color: #2563eb; padding: 2px; border-radius: 10px; margin-top: 5px;">
                                <ion-icon style="font-size: large;" name="add"></ion-icon>
                                <div>Adicionar</div>
                            </div><br>

                            <input type="text" name="id" value="<%= data.user[0].id %>" required style="display: none;">

                            <button
                                style="color: white; padding: 5px; text-align: center; background-color: #2563eb; margin: 10px; border-radius: 10px;"
                                type="submit">Editar</button>
        </form>
    </div>
    </body>
    <script>
        let indexPhone = 1;
        let indexEmail = 1;
        let space = document.createElement("br");

        function removeEmail(idEmail) {
            let divDeleted = document.getElementById("deleteEmail" + idEmail);

            let deletedEmail = document.createElement("input");
            deletedEmail.setAttribute("type", "text");
            deletedEmail.setAttribute("name", "deletedEmail");
            deletedEmail.value = idEmail;
            deletedEmail.style.display = "none";
            divDeleted.appendChild(deletedEmail);

            let div = document.getElementById("email" + idEmail).remove();
        }

        function removePhone(idPhone) {
            let divDeleted = document.getElementById("deletePhone" + idPhone);

            let deletedPhone = document.createElement("input");
            deletedPhone.setAttribute("type", "text");
            deletedPhone.setAttribute("name", "deletedPhone");
            deletedPhone.value = idPhone;
            deletedPhone.style.display = "none";
            divDeleted.appendChild(deletedPhone);

            let div = document.getElementById("phone" + idPhone).remove();
        }

        function createSecondaryPhones() {
            let divPhone = document.getElementById("secondaryPhones");
            let divSecPhones = document.createElement("div");
            divSecPhones.setAttribute("id", "phone" + indexPhone);
            divSecPhones.setAttribute("class", "positionLabel")

            let phones = document.createElement("label");
            phones.setAttribute("for", "secondaryPhone");
            phones.innerText = "Telefone " + indexPhone;
            divSecPhones.appendChild(phones);

            let divPhoneIcon = document.createElement("div");

            let inputPhones = document.createElement("input");
            inputPhones.setAttribute("type", "tel");
            inputPhones.setAttribute("name", "secondaryPhone");
            inputPhones.setAttribute("pattern", "[0-9]{11}");
            inputPhones.setAttribute("maxlength", 11);
            inputPhones.required = "true";
            divPhoneIcon.appendChild(inputPhones);

            let icon = document.createElement("ion-icon");
            icon.style.color = "#FF3F3A";
            icon.style.cursor = "pointer";
            icon.style.fontSize = "medium";
            icon.style.marginLeft = "5px";
            icon.setAttribute("name", "trash");
            icon.addEventListener("click", () => {
                divSecPhones.remove();
            });
            divPhoneIcon.appendChild(icon);

            divSecPhones.appendChild(divPhoneIcon);

            divPhone.appendChild(divSecPhones);

            indexPhone++
        }

        function createSecondaryEmails() {
            let divEmail = document.getElementById("secondaryEmails");
            let divSecEmails = document.createElement("div");
            divSecEmails.setAttribute("id", "email" + indexEmail);
            divSecEmails.setAttribute("class", "positionLabel")

            let emails = document.createElement("label");
            emails.setAttribute("for", "secondaryEmail");
            emails.innerText = "Email " + indexEmail;
            divSecEmails.appendChild(emails);

            let divEmailIcon = document.createElement("div");

            let inputEmails = document.createElement("input");
            inputEmails.setAttribute("type", "email");
            inputEmails.setAttribute("name", "secondaryEmail");
            inputEmails.required = "true";
            divEmailIcon.appendChild(inputEmails);


            let icon = document.createElement("ion-icon");
            icon.style.color = "#FF3F3A";
            icon.style.cursor = "pointer";
            icon.style.fontSize = "medium";
            icon.style.marginLeft = "5px";
            icon.setAttribute("name", "trash");
            icon.addEventListener("click", () => {
                divSecEmails.remove();
            });
            divEmailIcon.appendChild(icon);

            divSecEmails.appendChild(divEmailIcon);

            divEmail.appendChild(divSecEmails);
            indexEmail++
        }        
    </script>

    </html>